---
// const res = await fetch('http://localhost:3000/api/destacados')
// const data = await res.json();
// console.log(data);
import products from '../../server/products.json'
let destacados = products.filter(item => item.destacados === true).slice(0, 8);
console.log(destacados);
---
<div class="info">
    <div class="w-full mb-5 p-5 border dark:border-gray-700 rounded-lg title flex justify-between items-center">
        <h1 class="text-3xl font-bold dark:text-white">Productos destacados</h2>
        <p class="destacadosURL"><span>[GET]</span>  https://netshop-api.vercel.app/api/destacados</p>
    </div>
    <div class="cardGrid">
        { destacados.map(product => (
            <div class="flex flex-col max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card">
                <a href="#">
                    <img class="rounded-t-lg" src={product.img} alt={product.nombre} />
                </a>
                <div class="p-5 flex flex-col justify-between grow">
                    <a href="#">
                        <h5 class="mb-2 font-bold tracking-tight text-gray-900 dark:text-white">{product.nombre}</h5>
                    </a>
                    <div>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{product.moneda} {product.precio}</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Detalles
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div> 
            ))    
        }
    </div>
    <div class="w-full mt-5 p-5 border dark:border-gray-700 rounded-lg title flex justify-between items-center">
        <h1 class="text-3xl font-bold dark:text-white">Todos los productos</h2>
        <p class="destacadosURL"><span>[GET]</span>  https://netshop-api.vercel.app/api/productos</p>
    </div>
    <div class="w-full mt-5 p-5 border dark:border-gray-700 rounded-lg title flex justify-between items-center">
        <h1 class="text-3xl font-bold dark:text-white">Producto por ID</h2>
        <p class="destacadosURL"><span>[GET]</span>  https://netshop-api.vercel.app/api/productos/id</p>
    </div>
</div>

<style>
    .info {
        margin-inline: 200px;
        margin-block: 100px;
    }

    .info > .title {
        background-color: rgb(24, 23, 23);
    }

    .cardGrid {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(250px, 1fr)
        );
        gap: 20px;
    }

    .destacadosURL {
        color: rgb(179, 179, 179);
        font-size: 1.25rem;
    }

    .destacadosURL span {
        margin-right: 10px;
        color: white;
        font-weight: bold;
    }
</style>